@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsla(200, 40%, 30%, 0.4) !important;
  background-image: url("/background1.png"), url("/background2.png"),
    url("/background3.png");
  background-repeat: repeat-x;
  background-position: 0 100%, 0 100%, 0 10%, 0 100%, 0 0;
  background-size: 2500px, 800px, 500px, 1000px, 400px 260px;
  animation: 50s para infinite linear;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  margin: 0;
}

@keyframes para {
  100% {
    background-position: -5000px 100%, -800px 100%, 500px 10%, 1000px 100%,
      400px 0;
  }
}
body::-webkit-scrollbar,
#open > div.rt-Box.flex-1.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}
body
  > div
  > div
  > div.rt-Box.max-w-screen-xl.w-\[90\%\].border-\[1px\]rounded-lg.overflow-y-scroll.mt-6.mb-6.sm\:mt-20.h-full.flex-1::-webkit-scrollbar {
  display: none;
}

.normal {
  filter: drop-shadow(2px 2px 19px rgb(80, 80, 80));
}

.fighting {
  filter: drop-shadow(2px 2px 19px rgba(128, 0, 0, 1));
}

.flying {
  filter: drop-shadow(2px 2px 19px rgba(135, 206, 250, 1));
}

.poison {
  filter: drop-shadow(2px 2px 19px rgba(128, 0, 128, 1));
}

.ground {
  filter: drop-shadow(2px 2px 19px rgba(139, 69, 19, 1));
}

.rock {
  filter: drop-shadow(2px 2px 19px rgba(139, 69, 19, 1));
}

.bug {
  filter: drop-shadow(2px 2px 19px rgba(107, 142, 35, 1));
}

.ghost {
  filter: drop-shadow(2px 2px 19px rgba(128, 0, 128, 1));
}

.steel {
  filter: drop-shadow(2px 2px 19px rgba(169, 169, 169, 1));
}

.fire {
  filter: drop-shadow(2px 2px 19px rgba(255, 0, 0, 1));
}

.water {
  filter: drop-shadow(2px 2px 19px rgba(0, 0, 255, 1));
}

.grass {
  filter: drop-shadow(2px 2px 19px rgba(0, 128, 0, 1));
}

.electric {
  filter: drop-shadow(2px 2px 19px rgba(255, 255, 0, 1));
}

.psychic {
  filter: drop-shadow(2px 2px 19px rgba(255, 20, 147, 0.7));
}

.ice {
  filter: drop-shadow(2px 2px 19px rgba(173, 216, 230, 0.7));
}

.dragon {
  filter: drop-shadow(2px 2px 19px rgba(138, 43, 226, 0.7));
}
#closed {
  display: none;
}
#open {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  animation: slide-up 0.5s ease-in-out;
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
